<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"href="javascript:void(0)">Sankar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/registation">Registation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emailsender">Emailsender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/get-api">Getapi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videos">Videos</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>