
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10"> <!-- Center the form with column spacing -->
        <form action="">
          <div class="mb-3 mt-3">
            <label for="to" class="form-label">To:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
            <label for="from" class="form-label">From:</label>
            <input type="from" class="form-control" id="from" placeholder="Enter mail" name="from">
          </div>
          <div class="mb-3">
            <label for="msg" class="form-label">Message:</label>
            <textarea class="form-control" id="msg" name="msg" rows="5" cols="50" placeholder="Write your message here"></textarea>
        </div>
        
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  